body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1 {
    margin: 0px;
}

p {
    margin: 0;
}

/* Header */
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    font-size: 18px;
}

.header-logo{
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.header-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 32px;
    color: #e5e7eb;
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1f2937;  
}

/* Section 1 */
.section-1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px 200px;
    gap: 100px;
}

.section-1-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section1-img{
    width: 400px;
    height: 200px;
    flex-shrink: 0;
}

.section1-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-1-left h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.section-1-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.section-1-left button {
    background-color: #3882f6;
    border: none;
    align-self: flex-start;
    padding: 8px 16px;
    border-radius: 6px;
    color: #f9faf8;
}

