body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 200px;
    font-size: 18px;
}

.header-logo{
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.header-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 32px;
    color: #e5e7eb;
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Section 1 */

.section-1-wrapper {
    width: 100%;
    background-color: #1f2937;
    padding: 100px 0px;
}

.section-1{
    margin: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #1f2937;  
}

.section-1-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section1-img{
    width: 400px;
    height: 200px;
    flex-shrink: 0;
}

.section1-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-1-left h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.section-1-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.section-1-left button {
    background-color: #3882f6;
    border: none;
    align-self: flex-start;
    padding: 8px 16px;
    border-radius: 6px;
    color: #f9faf8;
}

/* Section 2 */

.section-2-wrapper {
    width: 100%;
    background-color: white;
    padding: 100px 0px;
}

.section-2 {
    margin: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-2 h2 {
    padding-bottom: 24px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.section-2-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 150px;
    text-align: center;
}

.card-box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

/* Section 3 */

.section-3-wrapper {
    width: 100%;
    background-color: #e5e7eb;
    padding: 100px 0px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    font-style: italic;
}

.quote-ref {
    margin-left: auto;
    font-weight: 600;
}

/* Section 4 */

.section-4-wrapper {
    width: 100%;
    background-color: white;
    padding: 100px 0px;
}

.section-4 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cta-box {
    margin: 0 200px;
    padding: 50px 150px;
    background-color: #3882f6;
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 6px;
}

.cta-box button {
    border: 2px solid white;
    border-radius: 8px;
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

/* Footer */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    font-size: 18px;
    color: #f9faf887;
    padding: 25px 100px;
}